body {
    overflow: hidden;
    background-image: url(image1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons {
    display: flex;
    width: 99.5%;
    justify-content: space-between;
    position: absolute;
    top: 500px;
}

.btns {
    font-size: 70px;
    border: 0;
    background-color: gray;
    opacity: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: fit-content;
}

.imagemain {
    width: 100%;
    display: none;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}